# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.so

# Virtual environment
venv/
env/
.venv/
.env/

# Django
*.log
*.pot
*.py[cod]
*.sqlite3
db.sqlite3
media/
staticfiles/
local_settings.py

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Node / npm (if you used frontend packages)
node_modules/
