{% extends "auctions/layout.html" %}
{% load static %}

{% block title %}
    Post
{% endblock %}

{% block style %}
    <link href="{% static 'auctions/styles4.css' %}" rel="stylesheet">
{% endblock %}

{% block body %}
    <h2>Post Listing</h2>


    {% if error %}
        <h4 style="color: red;">{{ error }}</h4>
    {% endif %}
    
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <button type="submit">Post</button>
    </form>

    
{% endblock %}